.loading {
	position: absolute;
	opacity: 1;
	top: 34vh;
	left: 46vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img {
	width: 100px;
}
.heading {
	font-size: 16px;
}
